<?xml version="1.0" encoding="UTF-8"?>
<!--
/* vim: set expandtab tabstop=4 shiftwidth=4 softtabstop=4: */

/**
 * Proficio: An advanced bot/client for dAmn
 *
 * PHP version 5
 *
 * Copyright 2009-2010 Alan Brault
 * 
 * Licensed under the Apache License, Apache 2.0 (the "License");
 * you may not use this file except in complaince with the License.
 * You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for specific language governing permissions and
 * limitations under the License.
 *
 * @category Proficio
 * @package  Core
 * @author   Alan Brault <alan.brault@incruentatus.net>
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache License 2.0
 * @version  SVN: $Id: config.xml.example 37 2010-02-27 17:07:35Z abrault $
 */
-->
<config>
    <base>
        <developer><![CDATA[false]]></developer>
        <damn>
            <auth>
                <username><![CDATA[{{username}}]]></username>
                <password><![CDATA[{{password}}]]></password>
            </auth>
            <channels>
                <channel><![CDATA[{{channel}}]]></channel>
            </channels>
            <trigger><![CDATA[{{trigger}}]]></trigger>
        </damn>
        <locale>
            <timezone><![CDATA[{{timezone}}]]></timezone>
        </locale>
    </base>
</config>
